
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.navbar-nav .nav-link:hover {
  color: rgb(252, 0, 0) !important;
}
#navbarStyle {
  display: flex;
  position: center;
  align-items: center;
  list-style-type: none;
}

main {
  padding-top: 0;
}
